{% extends "users/layout.html" %}
{% load static %}
{% load crispy_forms_field %}
{% block extra_css %}

{% endblock %}
{% block header_title %}Product Inward Bill Entry{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Product Inward Bill</a></li>
              <li class="breadcrumb-item active">New</li>
            </ol>
{% endblock %}
{% block body%}
     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">


              <!-- jquery validation -->

              <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Product Inward Bill Form </h3>
              </div>
              <!-- /.card-header -->

              <!-- form start -->
              <form id="quickForm" method="post">
                  {% csrf_token %}
                <div class="card-body">

                 <div class="row">
                    <div class="col-4">
                            <div class="form-group">
                            <label for="name">Bill Date </label>
                            {% crispy_field form.date  %}
                          </div>
                    </div>
                     <div class="col-8">
                           <div class="form-group">
                                  <a href="{% url 'prodinward-new' %}" onclick="return !window.open(this.href, 'product update', 'width=700,height=600')"
                                     target="_blank"> Add Product </a>


                          </div>
                     </div>
                 </div>
                <div class="form-group">
                            {% include "prodinward/prodinward_list.html" %}
                        </div>





                                 <div class="form-group">
                                    <label for="description">total amount </label>
                                    {% crispy_field form.total_amount %}
                                  </div>



                                <div class="form-group">
                                <label for="description">GST </label>
                                {% crispy_field form.gst %}
                        </div>


                        <div class="form-group">
                        <label for="description">Discount </label>
                            {% crispy_field form.discount %}
                        </div>


                        <div class="form-group">
                        <label for="description">Net Amount </label>
                        {% crispy_field form.net_amount %}
                        </div>


                            <div class="form-group">
                            <label for="description"> Due amount</label>
                            {% crispy_field form.due_amount %}
                          </div>



            </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block extra_js %}


{% endblock %}