<table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>total amount</th>
                    <th>Net Amount</th>

                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                   {% for mat in bills %}
                       <tr>
                       <td> {{ mat.id }}</td>
                       <td>{{ mat.date }}</td>
                       <td>{{ mat.total_amount}}</td>
                       <td>{{ mat.net_amount }}</td>

                       <td>

                           <a href="{% url 'prodinward-update' mat.id %}" onclick="return !window.open(this.href, 'product update', 'width=700,height=600')"
    target="_blank">

                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                       <a href="{% url 'prodinward-delete' mat.id %}" onclick="return !window.open(this.href, 'product update', 'width=700,height=600')"
    target="_blank">
                           <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                       </td>

                       </tr>
                   {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                   <th>ID</th>
                    <th>Date</th>
                    <th>total amount</th>
                    <th>Net Amount</th>

                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
